name = "zwave-js-firmware-updates"
main = "build/worker.js"
compatibility_date = "2022-08-28"

kv_namespaces = [
#   { binding = "R2_CACHE", id = "a14d0c5671564efda1e3db0e2f98da60" },
  { binding = "API_KEYS", id = "7edd033eda014a5ebdd02aed07f31063" }
]

[build]
command = "yarn build"
watch_dir = "src"

[[migrations]]
tag = "v1" # Should be unique for each entry
new_classes = ["RateLimiterDurableObject"]

[durable_objects]
bindings = [
  {name = "RateLimiter", class_name = "RateLimiterDurableObject"},
]

[[r2_buckets]]
binding = "CONFIG_FILES"
bucket_name = "zwave-js-firmware-updates--config-files"
